{% extends 'index.html' %}
{% block content %}
<section class="text-gray-600 body-font relative bg-white">
    <div class="container px-5 p mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
          <h1 class="font-serif sm:text-3xl text-2xl bg-orange-500 font-medium title-font mb-4 p-2 text-gray-900">Student Registration</h1>
          
          <h1 class="text-xl font-medium font-serif ">----------------------------------- Student Detail ------------------------------</h1>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-10">
          <div class="p-2 w-full">
            <div class="relative">
                  <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!-- <div class="relative">
                    <label for="name" class="leading-7 text-l text-gray-600 font-serif">Upload logo </label>
                    <input  type="file" accept="image/*" id="name" name="img" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div> -->
              </div>
              <!-- <div class="relative">
                <label for="name" class="leading-7 text-l text-gray-600 font-serif">Student Mobile </label>
                <input placeholder="Enter student phone" type="text" id="name" name="sm" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div> -->
          </div>
          <!--  -->
          <div class="p-2 w-1/2">
            <div class="relative">
                  <label for="name" class="leading-7 text-l text-gray-600 font-serif">Student Name</label>
                  <input required placeholder="Enter student name" oninput="fun2()" type="text" id="name1" name="sn" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div>
              <div class="relative">
                <label for="name" class="leading-7 text-l text-gray-600 font-serif">Student Mobile </label>
                <input required placeholder="Enter student phone" minlength="10" maxlength="10" type="text" id="name" name="sm" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div>
          </div>
        <!--  -->
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600 font-serif">Student Email</label>
              <input required placeholder="Enter student email" type="email" id="email" name="se" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-l text-gray-600 font-serif">Student Address</label>
              <textarea required placeholder="Enter student addess" id="message" name="sa" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>
          
          <h1 class="text-xl font-medium font-serif ">-------------------------------- Fees Detail ------------------------------------</h1>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="name" class="leading-7 text-l text-gray-600 font-serif">Course Description</label>
              <input required placeholder="Enter course description" type="text" id="name" name="cd" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600">Course Amount </label>
              <input required placeholder="Enter course amount" type="number" id="get" name="ca" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600 font-serif">Received Amount </label>
              <input required placeholder="Enter recieved amount" type="number" oninput="fun1()" id="set"  name="cra" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600 font-serif">Received Amount in words </label>
              <input required placeholder="Enter recieved amount in words" type="text" id="email" name="craw" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600 font-serif">Pending Amount </label>
              <input required placeholder="Enter pending amount" type="number" id="go" name="cpa" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600 font-serif">Due Date </label>
              <input required placeholder="Enter student email" type="date" id="date2" oninput="fun3()" name="cdd" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-l text-gray-600 font-serif">Next Payment Date </label>
              <input required placeholder="Enter student email" type="text" id="date3" name="cdd" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>

          </div>
          <!-- <div class="p-2 w-96">
            <div class="relative">
                <input placeholder="Enter student email" type="checkbox" id="check" name="check" class=" bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 text-l">
                <label for="check" class=""> <small class="text-l">Are you sure to save information !</small> </label>
            </div>
          </div> -->

          <div class="p-2 w-full">
            <button type="submit" class=" font-serif flex mx-auto text-white bg-slate-500 border-0 py-2 px-8 focus:outline-none hover:bg-orange-600 rounded text-lg">Save</button>
          </div>

        </form>
          <!-- <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
            <a class="text-indigo-500">example@email.com</a>
            <p class="leading-normal my-5">49 Smith St.
              <br>Saint Cloud, MN 56301
            </p>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-4 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-4 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-4 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
<div class="relative">
  <label for="name" class="leading-7 text-l text-gray-600 font-serif">Upload logo </label>
  <input  type="file" accept="image/*" id="name" name="img" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
</div>